<section class="main-box">


  <div class="secundary-box login-box">
    <div class="section">
      <h1 class="has-text-weight-bold is-size-1">Login</h1>
      <h3>Inicia sesión para ver el contenido del portafolio. Solicita usuario <a href="">diiegooliveros@gmail.com</a>
      </h3>
    </div>
    <div class="form-container">
      <input class="input is-rounded" type="text" placeholder="Usuario">
      <input class="input is-rounded" type="password" placeholder="Contraseña">
      <div class="level">
        <div class="level-left">
          <label class="checkbox has-text-weight-medium">
            <input type="checkbox">
            Recordar este usuario
          </label>
        </div>
        <div class="level-right has-text-weight-medium">Olvidé mi contraseña ?</div>
      </div>
      <div class="level is-pulled-right">
          <button class="button is-link is-rounded level-right has-text-weight-bold">Login</button>
      </div>

    </div>
  </div>


  <div class="secundary-box info-box">

    <div class="titulo">
      <h1 class="is-size-1">PORTAFOLIO PRIVADO.</h1>
    </div>
  </div>

  <div class="img-container">
  </div>
  <img src="assets/images/developer.jpg" class="img-avatar is-rounded is-pulled-right" alt="" height="200">


</section>
